/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
/* The Greatest show on the earth part start */
body{
    margin: 0;
}
.continer{
    background-color: #00203F;
    width: 1250px;
    height: 500px;  
    border-radius: 30px;  
    margin: 0 auto;
    animation-name: ja-khusi;
    animation-duration: 6s;
    animation-play-state: running;
}
@keyframes ja-khusi {
    from{
        background-color: #161616;
    }
    to{
        background-color: #00203F;
    }
}
.banner-div{
    
    display: flex;
    justify-content: space-around;
}
.banner-text{
    margin-left: 50px;
}
.banner-text h1{
    color: white;
    font-size: 70px;

}
.banner-text p{
    color: white;
    font-size: 16px;
    margin-top: -40px;
    margin-bottom: 40px;
    

}
.banner-text a{
    text-decoration: none;
    color:  #00203F;
    font-size: 20px;
    padding: 12px 28px;
    background-color: #ADF0D1;
    margin-bottom: 20px;
    border-radius: 5px;
}
.banner-img img{
    margin-top: 158px;
}
/* The Greatest show on the earth part end */
/* blog start */
.blog-section{
    width: 1250px;
    height: 1143px;
    margin: 0 auto;
    margin-top: 130px;
    display: flex;
    column-gap: 24px;
    margin-bottom: 130px;
}
.header{
    height: 312px;
    width: 312px;
    background-color: #00203F;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.btn a{
    text-decoration: none;
    color: black;
    font-size: 20px;

   
   
}
.btn{
    width: 162px;
    /* height: 45px; */
    padding: 12px 28px;
    background-color: white;
    cursor: pointer;
    border-radius: 10px;
    margin: 0 auto; 
}
.btn:hover{
    background-color: #ADF0D1;
}
.btn:active{
    background-color: #ADF0D1;
}
.btn:visited{
    background-color:#ADF0D1;
}

#a1,#a2,#a3{
   text-align: center;
   
}

.blogs{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    column-gap: 24px;
    row-gap: 24px;
    margin-bottom: 130px;
}

.blog-continer{
    width: 312px;
    height: 362px;
   border: 1px solid #E8E8E8;  
  
}
.blog-img img{
    width: 312px;
    height: 175px;
    
    
}
.blog-text{
    padding: 15px;
}
.blog-text a{
    font-size: 16px;
    text-decoration: none;
    color: black;
    border: 1px solid #161616;
    padding: 5px 10px;
    border-radius: 5px;
}
.blog-text p{
    size: 18px;
}
.blog-info{
    display: flex;
    column-gap: 15px;
    color: gray;
    margin-top: -18px;
}
/* blog end */
/* footer start */
footer{
    background-color: #00203F;
    height: 444px;

}
footer h1{
    font-size: 40px;
    color: white;
   text-align: center;
  padding-top: 130px;
}
footer hr{
    background-color: rgba(255, 255, 255, 0.1);
    margin-bottom: 50px;
}
.ftr-div{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;

   
}
.ftr-div a{
    color: white;
    text-decoration: none;
    font-size: 16px;
}
.social-midea{
    margin-top: 100px;
    text-align: center;
}
.social-midea a{
    color: #ADF0D1;
    font-size: 30px;
    margin: 0 50px;
  
}
/* footer end */